*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.logo_image{
    width: 128px;
}
.container{
    max-width: 1194px;
    margin: auto;
    padding: 10px 0;
}
header{
    display: flex;
    align-items: center;
}
.signin_button{
    margin-left: auto;
}
.search_form{
    margin-left: 76px;
    background: rgba(238, 238, 238, 0.71);
    border-radius: 10px;
    display: flex;
    width: 620px;
    position: relative;

}
.search_input{
    border: none;
    background: transparent;
    width: 100%;
    padding: 13px 20px;
}
.search_button{
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    right: 0;
    height: 100%;
    padding: 0 18px;
    cursor: pointer;
}
.signin_button{
    background: #EBEBEB;
    border-radius: 50px;
    padding: 16px 30px;
    display: block;
    
}
.signin{
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.shopping_cart{
    position: relative;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background-color: #F66A15;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}
.shopping-counter{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #FFAF19;
    color: black;
    font-size: 10px;
    line-height: 9px;
    border-radius: 50%;
    padding: 5px;
    display: block;
}
.shopping-cart-logo{
    text-decoration: none;
}
.slide{
    overflow: hidden;
    border-radius: 20px;
    min-height: 400px;
    display: flex;
    align-items: center;
    padding: 100px;
    position: relative;
}
.slide::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%);
}
.slide-text-light{
    background-color: grey;
    color: white;
}
.slide-content{
    width: 500px;
    z-index: 2;
}
.slide-title{
    font-weight: bold;
    font-size: 50px;
    line-height: 51px;
    margin-top: 0;
    margin-bottom: 15px;
}
.slide-descrription{
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 30px;
}
.button-default{
    background-color: #fff;
    color: #5F5F61;
}
.button-primary{
    background-color: #F47322;
    color:white;
}
.button{
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    padding: 12px 53px;
    border-radius: 25px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.slide-summer{
    background: url("assets/summer.png") no-repeat center / cover;
}
.slide-autumn{
    background: url("assets/slide-autumn.png") no-repeat center / cover;
}
.slide-vitamin{
    background: url("assets/slide-vitamin.png") no-repeat center / cover;
}
.swiper{
    position: relative;
}
.slider-buttons{
    position: absolute;
    right: 46px;
    bottom: 39px;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    cursor: pointer;
}
.slider-button-prev{
    background: url("assets/arrow-prev.png") no-repeat center / cover;
    width: 40px;
    height: 40px;
}
.slider-button-next{
    background: url("assets/arrow-next.png") no-repeat center / cover;
    width: 40px;
    height: 40px;
}
.promo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 54px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.card, .card2{
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    padding: 32px;
    max-width: 570px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card::before, .card2::before{
    z-index: -1;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}
.card-text-light{
    color:white;
}
.card-header-title{
    margin-top: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
}
.card-header-description{
    margin-top: 21px;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    max-width: 200px;
}
.card-price{
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
}
.card-delivery{
    display: block;
    margin-top: 8px;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
}
.sweet-busket{
    background: url('assets/sweet-busket.png') no-repeat center / cover;
    z-index: -2;
}
.min-efforts{
    background: url('assets/min-efforts.png') no-repeat center / cover;
    z-index: -2;
}
.delivery-week{
    padding: 100px 0;
}
.delivery-week-title{
    font-weight: 500;
    font-size: 32px;
    line-height: 23px;
    margin-bottom: 47px;
    margin-top: 0;
}
.delivery-cards{
    display: flex;
    flex-wrap: wrap;
    margin: -30px;
}
.delivery-card{
    margin: 15px;
    position: relative;
    width: 275px;
    height: 182px;
    border-radius: 18px;
    overflow: hidden;
}
.delivery-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.delivery-tag{
    position: absolute;
    left: 10px;
    top: 16px;
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 20px;
    line-height: 23px;
}
.tag-health{
    background-color: #D0FD89;
    color: #49494F;
}
.tag-veg{
    background-color: #AEBC41;
    color: white;
}
.tag-meat{
    background-color: #B86B78;
    color: white;
}
.tag-poultry{
    background-color: #D68334;
    color: white;
}
.tag-fish{
    background-color: #CD6255;
    color: white;
}
.tag-kid, .tag-parent{
    background-color: #FFFDBF;
    color: #49494F;
}
.tag-fest{
    background-color: #FEF7FE;
    color: #49494F;
}
.grey{
    background-color: #F6F6F6;
}
.category-title{
    padding: 40px 0 60px 0;
    font-weight: 500;
    font-size: 32px;
    line-height: 23px;
}
.tabs{
    display: flex;
    margin: 0 0 62px 0;
    padding: 0;
    list-style: none;
}
.tabs-link{
    color: #49494F;
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
    margin-right: 58px;
    
}
.active{
    color: #F37321;
}
.tabs-card{
    max-width: 270px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    margin-right: 18px;
}
.tabs-image{
    max-width: 100%;
}
.tabs-content{
    margin-right: -18px;
    padding: 23px;
    display: flex;
    flex-wrap: wrap;

}
.tabs-title{
    margin: 0;
    padding-top: 0;
    padding-bottom: 13px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}
.tabs-description{
    font-size: 14px;
    line-height: 23px;
    color: #B9B9BE;
    padding-right: 20px;
}
.tabs-price{
    color: #4B4B51;
    font-size: 23px;
    line-height: 23px;
    display: block;
    margin-bottom: 5px;
}
.tabs-weight{
    display: block;  
    color: #AAAAB1;
    font-size: 17px;
    line-height: 20px;
}
.tabs-info{
    display: flex;
    justify-content: space-between;
    
}
.button-outline{
    background-color: transparent;
    border: 2px solid #F37321;
    border-radius: 33px;
    color: #F37321;
    box-sizing: border-box;
    padding: 15px 25px;
    font-size: 16px;
    line-height: 19px;
    margin-left: 20px;
}
.button-center{
    display: block;
    margin: auto;
    margin-top: 60px;
    width: 315px;
}
.advantages{
    background-color: #f2f2f2;
}
.advantages-content{
    padding-bottom: 202px;
    display: flex;
    flex-wrap:wrap;
    margin-right: -18px;
  
}
.advantages-title{
    margin-top: 100px;
    margin-bottom: 52px;
    font-weight: 500;
    font-size: 32px;
    line-height: 23px;
}
.advantages-card{
    max-width: 270px;
    border: 1px solid #E5E5E5;
    border-radius: 18px;
    padding: 30px 23px 25px 23px;
    margin-right: 18px;
    background-color: #fff;
}
.advantages-card-image{
    display: block;
    margin-left: 80px;
}
.advantages-card-info{
    padding-top: 34px;
    text-align: center;
}
.card-info-title{
    margin-left: 35px;
    max-width: 158px;
    font-size: 16px;
    line-height: 23px;
    padding-left: px;
    justify-content: center;
    text-align: center;
}
.card-info-title2{
    max-width: 188px;
    margin-left: 20px;
}
.card-info-description{
    max-width: 223px;
    color: #49494F;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0;
}
.footer{
    padding: 40px 0;
    background-color: #F6F6F6;
}
.footer-wrapper{
    display: flex;
    align-items: center;
}
.footer-image{
    margin-right: 50px;
}
.footer-link{
    color: black;
    font-size: 16px;
    line-height: 23px;
    margin-right: 50px;
    text-decoration: none;
}
.social-links{
    display: flex;
    margin-left: auto;
    align-items: center;
}
.social-link{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: 20px;
}
.telegram{
    background: url("assets/img2/telegram1.png") no-repeat center / cover;
}
.vk{
    background: url("assets/img2/vk2.png") no-repeat center / cover;
}
.insta{
    background: url("assets/img2/instagram3.png") no-repeat center / cover;
}
@media (max-width: 1260px){
    .container{
        max-width: 960px;
    }
    .search_form{
        margin-left: 40px;
        margin-right: 40px;
    }
    .tabs-content{
        gap: 20px;
    }
    .tabs-card{
        flex: 50%;
        max-width: calc(50% - 30px);
    }
}
@media (max-width: 992px){
    .container{
        max-width: 760px;
    }
    .slide{
        padding: 70px;
    }
    .delivery-card{
        width: calc(50% - 30px);
    }
    .footer-logo{
        margin-right: 40px;
    }
}
@media (max-width: 768px){
    .container{
        max-width: 560px;
    }
    .header{
        flex-wrap:wrap;
    }
    .search_form{
        order: 5;
        margin-right: 0;
        margin-left: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .promo{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 576px){
    .container{
        max-width: 90%;
    }
    .tabs-card{
        max-width: 100%;
    }
    .advantages-card{
        max-width: 100%;
    }
}